@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Create Employees</h2>

<form action="/Employee/CreateEmployee" method="post">
    <input type="number" name="BirthAge" placeholder="Birthage" />
    <input type="text" name="Name" placeholder="Name" />
    <button>Create</button>
</form>